<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>Fah House</title>

</head>
<body>
	<div layout:fragment="content">
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/room/}">Rooms</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<h2 style="text-align:center;" th:text="${room.name}"></h2>
		   <canvas id="myChart" width="400" height="400"></canvas>
  		   	<script type="text/javascript" th:inline="javascript">
  		  $(document).ready(function() {
  			var tempArray = /*[[${climates.![temperature]}]]*/  [];
  			var labelArray = /*[[${climates.![formattedDateOfReading]}]]*/  [];
  			
			var data = {
    labels: labelArray,
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: tempArray 
        }
    ]
};
		
			var ctx = $("#myChart").get(0).getContext("2d");
			var myLineChart = new Chart(ctx);
			myLineChart.Line(data, {
			    bezierCurve: false
			});
			Chart.defaults.global.responsive = true;
  		  });
		</script>
		   <div class="row"  style="margin-bottom:50px;">
		      <div class="col-md-offset-2 col-md-8">
		            <div class="panel panel-success">
					  <div class="panel-heading">
					    <h3 class="panel-title" th:text="${room.name}"></h3>
					  </div>
					     <div class="panel-body">
					              <table class="table table-bordered">
									<thead>
									   <tr class="btn-success">
									     <th>Temperature</th>
									     <th>Humidity</th>
									     <th>Reading Date</th>
									   </tr>
									</thead>
									<tbody>
									     <tr th:if="${#lists.isEmpty(climates)}" class="btn-warning">
									        <td colspan="4" align="center">No Rooms Registered Yet!!!</td> 
									     </tr>
										   <tr th:each="climate : ${climates}">
										     <td th:text="${#numbers.formatDecimal(climate.temperature,0, 'COMMA', 0, 'POINT')} +' &#x2109;'"></td>
										     <td th:text="${#numbers.formatDecimal(climate.humidity,0, 'COMMA', 0, 'POINT')} +' %'"></td>
										     <td th:text="${#dates.format(climate.dateOfReading, 'MM/dd/yyyy hh:mm a')}"></td>
										   </tr>
									    
									</tbody>
								</table>
					      </div>
					          
					</div>
		       </div>
		   </div>
		</div>
	
</body>
</html>